$primaryColor: #16394c;
$primaryVariantColor: #3700B3;
$secondaryColor: #03CAD5;
$secondaryVariantColor: #74e1ea;
$lightBlueColor: #4446cc;
$steel600Color: #647582;
$steel500Color: #565555;
$steel200Color: #b9b9b9;
$steel100Color: #e5e5e5;
$steelColor: #f0f0f0;
$whiteColor: #fff;

$base-font-size: 16;

$DESKTOP_MIN_WIDTH:768;

$TABLET_MIN_WIDTH: 480;

